fastapi>=0.115.9
pydantic[email]>=2.10.6
pydantic-extra-types>=2.10.2
phonenumbers>=8.13.55
psycopg2-binary>=2.9.10
SQLAlchemy>=2.0.38
bcrypt>=4.3.0
python-jose>=3.4.0
uvicorn>=0.34.0

pytest>=7.4.4
pytest-cov>=6.0.0
httpx>=0.28.1